*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
app-release.apk
libs/
/gradle.properties
app/build/generated/res/
app/build/generated/source/aidl/
app/build/generated/source/buildConfig/androidTest/
app/build/generated/source/buildConfig/debug/
app/build/generated/source/r/androidTest/
app/build/generated/source/r/debug/
app/build/generated/source/rs/
app/build/intermediates/blame/res/androidTest/
app/build/intermediates/blame/res/debug/
app/build/intermediates/incremental/compileDebugAidl/
app/build/intermediates/incremental/compileDebugAndroidTestAidl/
app/build/intermediates/incremental/mergeDebugAndroidTestResources/
app/build/intermediates/incremental/mergeDebugResources/
app/build/intermediates/incremental/packageDebug/
app/build/intermediates/incremental/packageDebugAndroidTest/
app/build/intermediates/incremental/processDebugAndroidTestResources/
app/build/intermediates/incremental/processDebugResources/
app/build/intermediates/manifest/
app/build/intermediates/manifests/full/debug/
app/build/intermediates/manifests/instant-run/
app/build/intermediates/res/merged/androidTest/
app/build/intermediates/res/merged/debug/
app/build/intermediates/res/resources-debug-androidTest.ap_
app/build/intermediates/res/resources-debug.ap_
app/build/intermediates/rs/
app/build/intermediates/symbols/androidTest/
app/build/intermediates/symbols/debug/
app/build/outputs/logs/manifest-merger-debug-report.txt
